@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #333;
    font-family: "fot-tsukumin-pr6n", "stix-two-text", "游ゴシック体", YuGothic,
        "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
body {
    background: #dde4f6;
    overflow-x: hidden; /* 背景の円が画面からはみ出しても横スクロールが出ないようにする */
}
a:hover {
    opacity: 0.5;
}
html {
    scroll-behavior: smooth;
}

/* ヘッダー */
#top {
    display: flex;
    justify-content: space-between;
}
h1 {
    width: 60px;
    margin-left: 6%;
    margin-top: 20px;
}
.header_menu_pc {
    display: flex;
    margin-right: 5%;
}
.header_menu_pc ul {
    display: flex;
    margin-top: 50px;
    margin-right: 70px;
}
.header_menu_pc li {
    padding-right: 10%;
    font-size: 18px;
    color: #393872;
}
/* .header_menu_pc li:last-child {
    padding-right: 0%;
} */
.link_x {
    margin-top: 37px;
    margin-right: 30px;
    margin-left: 70px;
}
.link_x img {
    width: 38px;
}
.link_instagram img {
    width: 38px;
    margin-top: 37px;
}
.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 767px) {
    .sp_btn,
    .sp_nav {
        display: block;
    }
    h1 {
        width: 40px;
        margin-left: 4%;
    }
    .header_menu_pc {
        display: none;
    }
    /* ハンバーガーメニュー */
    .sp_btn {
        position: absolute;
        top: 33px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background: #393872;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background: #393872;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガーメニュー閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
        background: #fff;
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
        background: #fff;
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: fixed; /* 修正 */
        top: 0;
        bottom: 0; /* 修正 */
        left: 0;
        right: 0; /* 修正 */
        width: 100%;
        height: 100%;
        background: #393872;
        z-index: 1;
        /* position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #393872;
        z-index: 1; */
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
    }
    .sp_nav_sns {
        position: absolute;
        display: flex;
        top: 72%;
        left: 17%;
    }
}

/* フッター */
#footer {
    background-color: #e9effc;
}
.footer_menu {
    max-width: 520px;
    margin: 0 auto;
    padding-top: 90px;
}
.footer_menu ul {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}
.footer_info {
    display: flex;
    max-width: 520px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 60px;
    align-items: center;
    padding-bottom: 70px;
}
.footer_name {
    padding-left: 15px;
    line-height: 1.9;
}
.footer_sns {
    display: flex;
}
.footer_logo img {
    width: 80px;
}
.footer_sns img {
    width: 38px;
    padding-left: 30px;
}

@media screen and (max-width: 767px) {
    .footer_menu {
        padding-top: 10px;
        text-align: center;
    }
    .footer_menu ul {
        display: block;
        font-size: 17px;
    }
    .footer_menu li {
        padding-top: 45px;
    }
    .footer_info {
        flex-direction: column;
    }
    .footer_logo {
        order: 3;
    }
    .footer_name {
        order: 2;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding-bottom: 45px;
    }
    .footer_sns {
        padding-right: 38px;
        padding-bottom: 55px;
    }
    .footer_sns img {
        width: 30px;
        padding-left: 30px;
    }
}

/* 子ページのタイトル */
.sub_title {
    margin-bottom: 100px;
    margin-top: 130px;
}
.title_bar {
    position: relative;
    width: 490px;
}

.title_en {
    font-family: "stix-two-text";
    color: #393872;
    font-size: 60px;
}
.title_jp {
    padding-left: 4px;
    font-size: 18px;
    padding-top: 12px;
}
.title_text {
    position: absolute;
    top: 33%;
    margin-left: 10%;
}

.sub_content {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
}
.sub_content p {
    font-size: 18px;
    text-align: center;
}

.sub_btn {
    margin: 0 auto;
    max-width: 300px;
    width: 22vw;
    height: 3.5vw;
    background: #4d4c80;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.sub_btn p {
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .sub_title {
        margin-bottom: 70px;
        margin-top: 100px;
    }
    .title_bar {
        position: relative;
        width: 270px;
    }

    .title_en {
        font-family: "stix-two-text";
        color: #393872;
        font-size: 30px;
    }
    .title_jp {
        font-size: 12px;
        padding-top: 7px;
    }
    .title_text {
        position: absolute;
        top: 21%;
    }
    body.Android .title_text {
        top: 19%;
    }
    .sub_content p {
        font-size: 14px;
    }
    .sub_btn {
        width: 20vw;
        height: 4vw;
        margin-bottom: 100px;
    }
    .sub_btn p {
        font-size: 13px;
    }
}

/* 見出しの位置調整がうまくいかないので以下ゴリ押しでなおす */
@media screen and (max-width: 380px) {
    .title_text {
        top: 26%;
    }
}

@media screen and (max-width: 430px) {
    .title_text {
        top: 18%;
    }
}
@media screen and (max-width: 400px) {
    .title_text {
        top: 21%;
    }
}
