// fv
body {
  overflow-x: hidden;
}
.fv_wave {
    width: 49vw;
    @media screen and (max-width: 767px) {
      width: 41vw;
    }
}

#fv {
    margin-top: 130px;
    position: relative;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4vw;
        font-weight: normal;
        color: #393872;
        padding-left: 20px;
        @media screen and (max-width: 767px) {
          font-size: 4.8vw;
          left: 38%;
        }
    }
}

.fv_line {
    position: absolute;
    top: 73%;
}
.fv_russia {
    font-family: 'stix-two-text', serif;
    position: absolute;
    color: #393872;
    top: 60%;
    left: 41%;
    font-size: 11vw;
    opacity: 0.2;
    letter-spacing: -0.4em;
}
.scroll {
    position: relative;
    margin-top: 180px;
    
    span {
        position: absolute;
        top: -20px;
        left: 50%;
        font-size: 15px;
        color: #393872;
        @media screen and (max-width: 767px) {
          left: 48%;
          font-size: 11px;
        }
    }
    &::after {
        content: "";
    /*描画位置*/
    position: absolute;
    top: 20%;
    left: 51%;
    /*線の形状*/
    width: 1px;
    height: 200px;
    background: #393872;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 2s ease-in-out infinite;
    opacity:0;
    }
}
@keyframes pathmove{
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:60px;
      opacity: 1;
    }
    100%{
      height:0;
      top:50px;
      opacity: 0;
    }
  }

  #concept {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 320px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
    h2 {
      font-weight: normal;
      font-size: 2.8vw;
      line-height: 1.25;
      color: #393872;
      font-feature-settings: palt;
    }
  }
  @media screen and (max-width: 767px) {
    #concept{
      display: block;
      text-align: center;
      padding-top: 150px;
      h2 {
        font-size: 20px;
        padding-top: 10px;
      }
      p {
        padding-top: 2px;
      }
    }
  }
  .concept_hand_sp {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      width: 100px;
      margin: 0 auto;
    }
  }
  .concept_sub {
    display: flex;
    padding-top: 30px;
    align-items: baseline;
    h3 {
      font-size: 30px;
      font-weight: normal;
    }
    p {
      color: #393872;
      font-size: 20px;
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .concept_sub {
      display: block;
      padding-top: 50px;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .concept_desc {
    font-size: 16px;
    line-height: 2.6;
    padding-top: 67px;
    .br_sp {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .concept_desc {
      font-size: 12px;
      line-height: 1.7;
      font-feature-settings: "palt";
      padding-top: 30px;
      .br_sp {
        display: block;
      }
      .br_pc {
        display: none;
      }
    }
  }
  .concept_hand {
    width: 23vw;
    position: absolute;
    left: 65%;
    top: 33%;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .top_btn {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 35px;
    display: flex;
    align-items: center;
    p {
    font-size: 15px;
    color: #393872;
    }
  }
  .btn_out {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #393872;
    margin-left: 4px;
  }
  .btn_inner {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #dde4f6;
    }
    @media screen and (max-width: 767px) {
      .top_btn {
        max-width: 375px;
        justify-content: center;
        padding-top: 20px;
        p {
        font-size: 11px;
      }
    }
    .btn_out {
      width: 12px;
      height: 12px;
    }
    .btn_inner {
      width: 3px;
      height: 1px;
      left: 68%;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 6px solid #dde4f6;
    }
    }

    #concert {
      padding-top: 250px;
      padding-left: 5%;
      padding-right: 5%;
      margin: 0 auto;
      h3 {
        font-weight: normal;
        font-size: 30px;
        text-align: center;
      }
      h4 {
        font-weight: normal;
        font-size: 20px;
        color: #393872;
        text-align: center;
        padding-top: 8px;
        margin: 0;
      }
    }
    .concert_info {
      position: relative;
      margin-top: 50px;
      margin-left: 8%;
      margin-right: 8%;
      background: #e9effc;
      border-radius: 25px;
      text-align: center;
      .info_title {
        font-size: 22px;
        padding-top: 35px;
      }
    }
    .concert_title {
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 50px;
    }
    .concert_detail {
      font-size: 18px;
      line-height: 1.3;
      span {
        font-size: 120%;
        letter-spacing: 1px;
        .detail_time {
          padding-left: 2px;
          padding-top: 1px;
        }
      }
    }
    .detail_pro {
      line-height: 1.7;
    }
    .concert_free {
      padding-top: 50px;
      font-size: 20px;
      margin-bottom: 55px;
    }
    .concert_btn {
      margin: 0 auto;
      max-width: 300px;
      width: 22vw;
      height: 3.5vw;
      background: #4d4c80;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.3vw;
        color: #fff;
      }
    }
    .detail_btn {
      max-width: 1000px;
      padding-top: 35px;
      display: flex;
      align-items: center;
      padding-left: 72%;
      padding-bottom: 35px;
      p {
      font-size: 15px;
      color: #393872;
      }
    }
    .bar_top {
      width: 4.4vw;
      position: absolute;
      right: 6%;
    }
    .bar_bottom {
      width: 7vw;
      position: absolute;
      bottom: 0%;
      left: 6%;
    }

    @media screen and (max-width: 767px) {
      #concert {
        padding-top: 130px;
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 14px;
          padding-top: 2px;
        }
      }
      .concert_info {
        margin-top: 25px;
        .info_title {
          padding-top: 27px;
          font-size: 18px;
        }
      }
      .concert_title {
        font-size: 17px;
      }
      .concert_detail {
        font-size: 15px;
        font-feature-settings: "palt";
      }
      .detail_pro {
        font-size: 13px;
      }
      .concert_free {
        font-size: 17px;
      }
      .concert_btn {
        width: 200px;
        height: 9vw;
        p {
          font-size: 14px;
        }
      }
      .detail_btn {
        padding-left: 0;
        justify-content: center;
        p {
          font-size: 11px;
        }
      }
    }

    #recruit {
      margin-top: 235px;
      margin-right: 13%;
    }
    .recruit_content {
      position: relative;
    }
    .recruit_back {
      img {
        width: 100%;
      }
    }
    .recruit_text {
      position: absolute;
      top: 50%;
      left: 58%;
      transform: translate(-50%, -50%);
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 30px;
      }
      h4 {
        font-weight: normal;
        padding-top: 8px;
        font-size: 20px;
        color: #393872;
        margin: 0;
      }
      p {
        font-size: 16px;
        padding-top: 52px;
        line-height: 1.7;
      }
    }
    .detail_btn.recruit_btn {
      position: absolute;
      bottom: 8%;
    }
    .back_bar_sp {
      display: none;
    }
    .br_sp {
      display: none;
    }
    @media screen and (max-width: 767px){
      #recruit {
        margin-top: 160px;
        margin-right: 0;
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 14px;
          padding-top: 2px;
        }
      }
      .recruit_back {
        display: none;
      }
      .back_bar_sp {
        display: block;
        width: 85vw;
        position: relative;
      }
      .recruit_title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .recruit_text {
        left: 50%;
        p {
          font-size: 12px;
          line-height: 1.5;
          padding-top: 180px;
        }
      }
      .detail_btn.recruit_btn {
        top: 26vh;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
      }
      .br_sp {
        display: block;
      }
    }
  
    #contact {
      margin-left: 13%;
      margin-top: 170px;
      margin-bottom: 200px;
    }
    .contact_back {
      transform: scale(-1, 1);
      img {
        width: 100%;
      }
    }
    .contact_content {
      position: relative;
    }
    .contact_text {
      position: absolute;
      top: 27%;
      left: 42%;
      transform: translate(-50%, -50%);
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 30px;
      }
      h4 {
        font-weight: normal;
        font-size: 20px;
        margin: 0;
        padding-top: 8px;
        color: #393872;
      }
      p {
        padding-top: 55px;
        font-size: 16px;
        .br_sp {
          display: none;
        }
      }
    }
    .contact_address {
      position: absolute;
      font-size: 16px;
      top: 74%;
      left: 44%;
      transform: translate(-50%, -50%);
      span {
        font-size: 18px;
      }
    }
    .contact_x {
      display: flex;
      align-items: center;
      padding-top: 2.5vw;
      img {
        width: 38px;
        padding-left: 20px;
      }
    }
    .contact_instagram {
      display: flex;
      align-items: center;
      padding-top: 2.5vw;
      img {
        width: 38px;
        padding-left: 20px;
      }
    }
    .back_bar_sp_contact {
      display: none;
    }
    .contact_icon_sp {
      display: none;
    }


    @media screen and (max-width: 767px){
      #contact {
        margin-top: 240px;
      }
    .contact_back {
      display: none;
    }
    .back_bar_sp_contact {
      display: block;
      transform: rotate(180deg);
      position: relative;
    }
    .contact_title {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .contact_text {
      position: inherit;
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 14px;
        padding-top: 2px;
      }
      p {
        font-size: 12px;
        line-height: 1.5;
        .br_sp {
          display: block;
        }
      }
    }
    .contact_icon_sp {
      display: flex;
      justify-content: center;
      margin-right: 40px;
      padding-top: 70px;
      padding-bottom: 30px;
      img {
        width: 30px;
        padding-left: 25px;
      }
    }
    .contact_address {
      font-size: 15px;
      line-height: 2;
      position: inherit;
      .contact_x {
        img {
          display: none;
        }
        justify-content: center;
      }
      .contact_instagram {
        img {
          display: none;
        }
        justify-content: center;
      }
      span {
        font-size: 15px;
      }
      .email {
        text-align: center;
      }
    }
    }